.loader {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 3px dashed teal;
    animation: rotate 1s infinite ease-in;
}

/* Жирный курсив */
@import url(//fonts.googleapis.com/css?family=Kaushan+Script|Montserrat:wght@400,700&display=swap&subset=cyrillic-ext);
 
.message {
    position: absolute;
	font-family: 'Kaushan Script', cursive;
	font-weight: bold;
    font-size: large;
	font-style: italic;
    color: lightslategray;

}

.container {
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
        border-color: teal;
        scale: 1;
    }

    50% {
        transform: rotate(180deg);
        border: 5px dashed aqua;
        scale: 1.5;
    }

    to {
        transform: rotate(360deg);
    }    
}